
:root{
    --boot-start: #1ABC9C;
    --boot-primary: #2C3E50;
    --boot-portfolio: #333333;
    --boot-foot: #3A546D;

}
nav{
    background-color: var(--boot-primary);
}
img{
    width: 100%;
}
.text_portfolio{
    color: var(--boot-portfolio);
}
h1{
    font-size: 60px;
    font-weight: 600;
}
/* #region debug */
.debug header .col-4{
    height: 100px;
    background-color: aqua;
    border: 1px solid;
}
.debug .bootstrap{
    height: 200px;
}
.debug .portfolio .col-12,
.debug .portfolio .col-lg-6,
.debug .portfolio .col-xl-4{
    background-color: red;
    border: 1px solid;
    height: 100px;
}
.debug .about .col-12,
.debug .about .col-lg-6{
    background-color: yellow;
    height: 200px;
    border: 1px solid;
}
.debug .contact_me .col-12{
    height: 200px;
    background-color: purple;
}

.debug .footer_bottom{
    height: 100px;
}
.debug .footer_top .col-12,
.debug .footer_top .col-lg-4{
    background-color: lightcoral;
    border: 1px solid;
    height: 100px;
}
/* #endregion debug */

header .navbar-toggler-icon{
    filter: invert(1);
}

.bootstrap{
    background-color: var(--boot-start);
}
.bootstrap img{
    width: 200px;
}
.bootstrap .job{
    font-size: 25px;
}
span{
    width: 130px;
    height: 3px;
    display: inline-block;
}
.bootstrap span, .about span{
    background-color: white;
}

.portfolio span, .contact_me span{
    background-color: var(--boot-portfolio);
}



.about{
    background-color: var(--boot-start);
}
h2{
    font-size: 50px;
    font-weight: 600;
}
.about p{
    font-size: 19px;
}


.contact_me form{
    padding: 0 8rem;
}


.btn_start{
    background-color: var(--boot-start);
    color: white;
}



.footer_top{
    background-color: var(--boot-foot);
}
.footer_top i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 1rem;
    height: 49.6px;
    width: 49.6px;
}
.footer_top a{
    text-decoration: none;
    color: var(--boot-start);
}
.footer_top p{
    font-weight: 700;
}
.footer_bottom{
    background-color: var(--boot-primary);
}
